<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Ubah Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="item-forgot">
    <ion-input type="password" placeholder="Password Lama" required [(ngModel)]="pass.lama"></ion-input>
    <ion-icon name="time" icon-start clear item-end></ion-icon>
  </ion-item>
  <ion-item class="item-forgot">
    <ion-input type="password" placeholder="Password Baru" required [(ngModel)]="pass.password"></ion-input>
    <ion-icon name="lock" icon-start clear item-end></ion-icon>
  </ion-item>
  <ion-item class="item-forgot">
    <ion-input type="password" placeholder="Konfirmasi Password" required [(ngModel)]="pass.conn"></ion-input>
    <ion-icon name="unlock" icon-start clear item-end></ion-icon>
  </ion-item>
</ion-content>

<ion-footer>
  <div class="belowzero">
    <ion-button class="nyam-btn" type="submit"
      [disabled]="pass.lama.length < 7 || pass.password.length < 7 || pass.conn.length < 7" margin-top expand="block"
      strong (click)="updatePass()">Ubah Password</ion-button>
  </div>
</ion-footer>