.item-forgot{
    background: none;
    border: 2px solid #ababab;
    border-radius: 25px;
    margin: 16px 0px;
    color: #424242;
}

ion-button.nyam-btn{
    --background: linear-gradient(90deg, #fcb606, #e6421d);
}

ion-button{
    letter-spacing: 2pt
}

.belowzero {
    position: sticky;
    bottom: 2%;
    width: 100%;
    left: 0;
    padding: 0 16px;
}