<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="item-forgot">
    <ion-input placeholder="Nama Bookmark mis.(Rumah/Kantor)" required type="text" [(ngModel)]="user.name"></ion-input>
    <ion-icon name="bookmark" icon-start clear item-end></ion-icon>
  </ion-item>
  <ion-item class="item-forgot">
    <ion-input placeholder="Alamat mis.(Jl. Ondomohen No. 88)" type="text" required [(ngModel)]="user.address">
    </ion-input>
    <ion-icon name="home" icon-start clear item-end></ion-icon>
  </ion-item>
  <ion-item class="item-forgot">
    <ion-input placeholder="Detail mis.(Lantai, Nomor Unit)" type="text" required [(ngModel)]="user.detail"></ion-input>
    <ion-icon name="list-box" icon-start clear item-end></ion-icon>
  </ion-item>
  <ion-item class="item-forgot">
    <ion-input placeholder="Kode Pos Wilayah" type="tel" required [(ngModel)]="user.kodepos"></ion-input>
    <ion-icon name="map" icon-start clear item-end></ion-icon>
  </ion-item>
</ion-content>

<ion-footer>
  <div class="belowzero">
    <ion-button class="nyam-btn" *ngIf="mode == 'insert'" type="submit"
      [disabled]="user.name.length == 0 || user.address.length < 5 || user.detail.length < 3|| user.kodepos.detail < 5"
      margin-top expand="block" strong (click)="tambahAlamat()">Simpan Alamat</ion-button>
    <ion-button color="danger" *ngIf="mode != 'insert'" type="submit" margin-top expand="block" strong
      (click)="hapusAlamat()">Hapus Alamat</ion-button>
    <ion-button class="nyam-btn" *ngIf="mode != 'insert'" type="submit"
      [disabled]="user.name == userold.name && user.name.length == userold.name.length && user.kodepos == userold.kodepos && user.kodepos.length == userold.kodepos.length && user.address.length == userold.address.length && user.address == userold.address && user.detail == userold.detail && user.detail.length == userold.detail.length"
      margin-top expand="block" strong (click)="updateAlamat()">Update Alamat</ion-button>
  </div>
</ion-footer>