.umpanbalik {
  display: grid;
  padding: 20px 30px;
  text-align: center;

  img {
    height: 170px;
    margin: auto;
  }

  ion-card-title {
    font-size: 15pt;
  }

  p {
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 30px;
    position: relative;
    padding: 0 10px;
  }

  p:after {
    content: "";
    position: absolute;
    width: 25%;
    height: 5px;
    border-radius: 15px;
    left: 31vw;
    bottom: -15px;
    background: #263146;
  }
}

.review {
  padding-bottom: 5px;

  ion-card-subtitle {
    font-size: 12pt;
    text-transform: capitalize;
  }
}

ion-button.nyam-btn {
  --background: linear-gradient(90deg, #fcb606, #e6421d);
}

ion-button {
  letter-spacing: 2pt;
}

.belowzero {
  position: sticky;
  bottom: 2%;
  width: 100%;
  left: 0;
  padding: 0 25px;
  z-index: 3;
}

button {
  --outline: none;
}

.catatan {
  border: 2px solid #dddce0;
  border-radius: 5px;
  font-size: 11pt;
}
