<ion-content fullscreen>
  <div class="welcome">
    <ion-card-title>Pesan</ion-card-title>
    <ion-card-title>Katering</ion-card-title>
    <ion-card-title class="seleksi">Untuk Acara</ion-card-title>
    <ion-card-title>Tanpa Ribet</ion-card-title>
    <p style="font-size: 11pt;color: #fff;padding-left: 10px;">Atur kustom makananmu sendiri untuk acara pentingmu.</p>
    <ion-button style="margin-top: 12vh" expand="block" class="grad" strong [routerLink]="['/signin']" routerDirection="forward" >MASUK</ion-button>
    <ion-button expand="block" strong [routerLink]="['/signup']" routerDirection="forward" >DAFTAR</ion-button>
  </div>
</ion-content>
