<ion-content fullscreen scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide text-left>
      <ion-card-title capitalize color="light">
        Pesan Katering<br>Nasi Kotak Favoritmu
      </ion-card-title>
      <p>Nikmati <b>kemudahan</b> dengan memilih isi nasi kotak dan porsi yang sesuai untuk acara anda.</p>
    </ion-slide>

    <ion-slide text-left>
      <ion-card-title capitalize color="light">
        Menu Buffé <br>yang enak <br>dan beragam
      </ion-card-title>
      <p>Atur Katering prasmanan anda, dengan <b>memilih</b> menu makanan dari <i>main course</i> hingga <i>desert</i>.</p>
    </ion-slide>
    
    <ion-slide text-left>
      <ion-card-title capitalize color="light">
        Persiapkan Coffee Break <br>untuk acara anda
      </ion-card-title>
      <p>Anda dapat memesan coffee break dengan pilihan <b> aneka teh atau kopi hingga snack</b> dengan jadwal dan tempat yang anda dapat tentukan.</p>
    </ion-slide>
    
    <ion-slide text-left>
      <ion-card-title capitalize color="light">
        Pesan katering <br>dalam satu aplikasi
      </ion-card-title>
      <p><b>Kustomisasi</b> dalam aplikasi ini <b>memudahkan anda</b> untuk memilih menu makanan yang anda suka.</p>
      <div class="below">
        <ion-button margin-top expand="block" (click)="cekSwipe()" strong>MULAI SEKARANG</ion-button>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>